*,
*::after,
*::before {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100svh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    background-color: var(--background-color);
    gap: $flex-gap;
}

main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
}