.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: $flex-gap;

    &-direction {
        &-horizontal {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
        &-row {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
        &-vetical {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        &-column {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    &-align {
        &-center {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        &-start {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }
        &-end {
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
        }
        &-baseline {
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;
        }
        &-stretch {
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
        }
    }
    &-justify {
        &-center {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        &-start {
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
        &-end {
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
        }
        &-between {
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        &-around {
            -webkit-box-pack: distribute;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
        }
        &-evenly {
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
        }
    }
}