:root {
    --background-color: #252e42;
    --module-color: #35415a;
    --text-color-primary: #fff;
    --text-color-secondary: #ccc;
    --accent-color-primary: #2c698d;
    --accent-color-secondary: #bae8e8;
    --accent-color-secondary: #e3f6f5;
}

.light-theme{
    --background-color: #fff;
    --module-color: #bbbbbb;
    --text-color-primary: #000;
    --text-color-secondary: #333;
    --accent-color-primary: #2c698d;
    --accent-color-secondary: #bae8e8;
    --accent-color-secondary: #e3f6f5;
}

.dark-theme{
    --background-color: #252e42;
    --module-color: #35415a;
    --text-color-primary: #fff;
    --text-color-secondary: #cccccc;
    --accent-color-primary: #2c698d;
    --accent-color-secondary: #bae8e8;
    --accent-color-secondary: #e3f6f5;
}