//Colors
$color-base: #0f0f0f;
$color-base-module: #272727;
$color-base-inner: #262629;
$color-primary: #00998a;
$color-secondary: #03d5c0;
$color-tertiery: #00665c;

$color-text: #fff;

//Font
$default-font-size: 1.6rem;

//Miscellaneous
$border-radius-outer: 16px;
$border-radius-inner: 8px;
$flex-gap: 1rem;