button {
    transition: background-color 0.3s ease;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: inherit;
    }

    &:disabled {
        background-color: var(--color-disabled);
        cursor: not-allowed;
    }
}
