.menu {
    position: fixed;
    top: 0;
    left: -25rem; // Hide the menu offscreen
    width: 25rem;
    height: 100vh;
    background-color: var(--module-color);
    transition: left 0.3s ease;
    z-index: 10;

    &.open {
        left: 0; // Slide in the menu
    }

    & > ul, .section-items {
        list-style: none;
        padding: 0;
        margin: 0;

        & > li > a {
            display: block;
            padding: 1rem 2rem;
            text-decoration: none;
            color: var(--text-color-primary);

            &:hover {
                background-color: var(--module-color-dark);
            }
        }
    }

    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease;
        z-index: 5;
        pointer-events: none;

        &.open {
            background-color: rgba(0, 0, 0, 0.5); // Fade in the backdrop
            pointer-events: all;
        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        border: none;
        cursor: pointer;
        z-index: 20;
        padding: 1rem;
        border-radius: 9999px;
        background-color: var(--color-primary);
        aspect-ratio: 1 / 1;

        & > div {
            width: 30px;
            height: 3px;
            background-color: var(--text-color-primary);
            transition: all 0.3s ease;
        }

        &.open {
            & > .bar1 {
                transform: rotate(-45deg) translate(-7px, 7px);
            }

            & > .bar2 {
                opacity: 0;
            }

            & > .bar3 {
                transform: rotate(45deg) translate(-7px, -7px);
            }
        }
    }

    .section {
        .section-header {
            cursor: pointer;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--module-color-light);

            .section-icon {
                transition: transform 0.3s ease;
            }
        }

        .section-items {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        &.open {
            .section-header .section-icon {
                transform: rotate(180deg);
            }

            .section-items {
                max-height: 1000px; // Adjust this value based on your needs
                transition: max-height 0.5s ease-in;
            }
        }
    }
}