.toast {
    cursor: pointer;
    padding: 0.6em;
    border-radius: $border-radius-outer;
    display: flex;
    flex-direction: column;
    gap: $flex-gap;
    border: 2px solid transparent;
    background-color: var(--module-color);
    color: var(--text-color-secondary);

    &-loading {
        animation: slide-in;
        animation-duration: 0.5s;
    }

    & > .time {
        font-size: 0.7em;
        color: #4c5159;
    }
    
    & > .toast-title {
        font-weight: bold;
        color: var(--text-color-primary)
    }
}
  
.error {
    border-bottom: 3px solid #f08694;
}
  
.warn {
    border-bottom: 3px solid #9cb8e6;
}
  
.info {    
     border-bottom: 3px solid #91c7b5;
}
  
.paused {
    border: 3px solid grey;
}

.toasts {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    max-width: 30rem;
    width: 100%;
    gap: $flex-gap;
    font-family: inherit;
    
    &-provider-bottom-right {
        right: 2em;
        bottom: 2em;
    }
}
  
  