.toast {
    cursor: pointer;
    padding: 0.6em;
    border-radius: $border-radius-outer;
    display: flex;
    flex-direction: column;
    gap: $flex-gap;
    border: 2px solid transparent;
    background-color: var(--module-color);
    color: var(--text-color-secondary);

    &-loading {
        animation: slide-in;
        animation-duration: 0.5s;
    }

    & > .time {
        font-size: 0.7em;
        color: var(--disabled-color);
    }
    
    & > .toast-title {
        font-weight: bold;
        color: var(--text-color-primary);
    }
}
  
.error {
    border-bottom: 3px solid var(--error-color);
}
  
.warn {
    border-bottom: 3px solid var(--warning-color);
}
  
.info {    
     border-bottom: 3px solid var(--success-color);
}
  
.paused {
    border: 3px solid var(--disabled-color);
}

.toasts {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    max-width: 30rem;
    width: 100%;
    gap: $flex-gap;
    font-family: inherit;
    
    &-provider-bottom-right {
        right: 2em;
        bottom: 2em;
    }
}
  
  