.background {
    &-color {
      &-none {
        background-color: transparent;
      }
      &-primary {
        background-color: --color-primary;
      }
      &-secondary {
        background-color: --color-secondary;
      }
      &-tertiary {
        background-color: --color-tertiary;
      }
      &-success {
        background-color: --color-success;
      }
      &-warning {
        background-color: --color-warning;
      }
      &-error {
        background-color: --color-error;
      }
    }
  }
  