.border {
  &-radius {
    &-none {
      border-radius: 0;
    }
    &-small {
      border-radius: 4px;
    }
    &-medium {
      border-radius: 8px;
    }
    &-large {
      border-radius: 16px;
    }
    &-rounded {
      border-radius: 2rem;
    }
    &-circle {
      border-radius: 9999px;
    }
  }

  &-width {
    &-none {
      border-width: 0;
    }
    &-small {
      border-width: 1px;
    }
    &-medium {
      border-width: 4px;
    }
    &-large {
      border-width: 8px;
    }
    &-bottom {
      &-none {
        border-bottom-width: 0;
      }
      &-small {
        border-width: 0;
        border-bottom-width: 1px;
      }
      &-medium {
        border-width: 0;
        border-bottom-width: 4px;
      }
      &-large {
        border-width: 0;
        border-bottom-width: 8px;
      }
    }
    &-top {
      &-none {
        border-top-width: 0;
      }
      &-small {
        border-width: 0;
        border-top-width: 1px;
      }
      &-medium {
        border-width: 0;
        border-top-width: 4px;
      }
      &-large {
        border-width: 0;
        border-top-width: 8px;
      }
    }
    &-right {
      &-none {
        border-right-width: 0;
      }
      &-small {
        border-width: 0;
        border-right-width: 1px;
      }
      &-medium {
        border-width: 0;
        border-right-width: 4px;
      }
      &-large {
        border-width: 0;
        border-right-width: 8px;
      }
    }
    &-left {
      &-none {
        border-left-width: 0;
      }
      &-small {
        border-width: 0;
        border-left-width: 1px;
      }
      &-medium {
        border-width: 0;
        border-left-width: 4px;
      }
      &-large {
        border-width: 0;
        border-left-width: 8px;
      }
    }
  }

  &-style {
    &-none {
      border-style: none;
    }
    &-solid {
      border-style: solid;
    }
    &-dashed {
      border-style: dashed;
    }
    &-dotted {
      border-style: dotted;
    }
    &-double {
      border-style: double;
    }
  }

  &-color {
    &-none {
      border-color: transparent;
    }
    &-primary {
      border-color: var(--color-primary);
    }
    &-secondary {
      border-color: var(--color-secondary);
    }
    &-tertiary {
      border-color: var(--color-tertiary);
    }
    &-success {
      border-color: var(--color-success);
    }
    &-warning {
      border-color: var(--color-warning);
    }
    &-error {
      border-color: var(--color-error);
    }
  }

  
}