.background {
    &-color {
        &-none {
            background-color: transparent;
        }
        &-primary {
            background-color: var(--color-primary);
        }
        &-primary-dark {
            background-color: var(--color-primary-dark);
        }
        &-primary-light {
            background-color: var(--color-primary-light);
        }
        &-secondary {
            background-color: var(--color-secondary);
        }
        &-secondary-dark {
            background-color: var(--color-secondary-dark);
        }
        &-secondary-light {
            background-color: var(--color-secondary-light);
        }
        &-teritiary {
            background-color: var(--color-tertiery);
        }
        &-tertiary-dark {
            background-color: var(--color-tertiery-dark);
        }
        &-tertiary-light {
            background-color: var(--color-tertiery-light);
        }
        &-container {
            background-color: var(--module-color);
        }
        &-container-dark {
            background-color: var(--module-color-dark);
        }
        &-container-light {
            background-color: var(--module-color-light);
        }
        &-background {
            background-color: var(--background-color);
        }
        &-background-dark {
            background-color: var(--background-color-dark);
        }
        &-background-light {
            background-color: var(--background-color-light);
        }
        &-text-primary {
            background-color: var(--text-color-primary);
        }
        &-text-primary-dark {
            background-color: var(--text-color-primary-dark);
        }
        &-text-primary-light {
            background-color: var(--text-color-primary-light);
        }
        &-text-secondary {
            background-color: var(--text-color-secondary);
        }
        &-text-secondary-dark {
            background-color: var(--text-color-secondary-dark);
        }
        &-text-secondary-light {
            background-color:  var(--text-color-secondary-light);
        }
        &-success {
            background-color: var(--color-success);
        }
        &-success-dark {
            background-color: var(--color-success-dark);
        }
        &-success-light {
            background-color: var(--color-success-light);
        }
        &-warning {
            background-color: var(--color-warning);
        }
        &-warning-dark {
            background-color: var(--color-warning-dark);
        }
        &-warning-light {
            background-color: var(--color-warning-light);
        }
        &-error {
            background-color: var(--color-error);
        }
        &-error-dark {
            background-color: var(--color-error-dark);
        }
        &-error-light {
            background-color: var(--color-error-light);
        }
    }
}