.height {
    &-none {
        height: 0;
    }
    &-full {
        height: 100%;
    }
    &-screen {
        height: 100vh;
    }
    &-auto {
        height: auto;
    }
    &-min {
        height: min-content;
    }
    &-max {
        height: max-content;
    }
    &-fit {
        height: fit-content;
    }
    &-inherit {
        height: inherit;
    }
    &-small {
        height: 25%;
        min-height: 10rem;
    }
    &-medium {
        height: 50%;
        min-height: 10rem;
    }
    &-large {
        height: 75%;
        min-height: 10rem;
    }
}

.width {
    &-none {
        width: 0;
    }
    &-full {
        width: 100%;
    }
    &-screen {
        width: 100vw;
    }
    &-auto {
        width: auto;
    }
    &-min {
        width: min-content;
    }
    &-max {
        width: max-content;
    }
    &-fit {
        width: fit-content;
    }
    &-inherit {
        width: inherit;
    }
    &-small {
        width: 25%;
        min-width: 10rem;
    }
    &-medium {
        width: 50%;
        min-width: 10rem;
    }
    &-large {
        width: 75%;
        min-width: 10rem;
    }
}