.padding {
    &-none {
        padding: 0;
    }
    &-small {
        padding: .5rem;
    }
    &-medium {
        padding: 1rem;
    }
    &-large {
        padding: 1.5rem;
    }
}

.margin {
    &-none {
        margin: 0;
    }
    &-small {
        margin: .5rem;
    }
    &-medium {
        margin: 1rem;
    }
    &-large {
        margin: 1.5rem;
    }
}